.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://thumbs.dreamstime.com/z/wooden-table-food-top-view-cafe-102532611.jpg");
}

.app_searchForm {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.search_input  {
    padding: 6px 16px;
    min-width: none;
    max-width: 100vw;
    font-size: 15px;
}

.search_button {
    padding:  6px 16px ;
    font-size: 15px;
    margin-left: 10px;
}

.container {
     /* display: flex; */
    justify-content: center;
    align-items: center; 
    padding: 5px;
}

.bg_img  {
  /* background-image: url("https://thumbs.dreamstime.com/z/wooden-table-food-top-view-cafe-102532611.jpg"); */

  /* opacity: 0.2; */
  background-color: rgb(0, 0, 0);

}

.h4 {
    align-items: center;
    justify-content: center;
}

.foods_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0.3rem 0.3rem;
    background-color: aqua;
}
